<!doctype html>
<html>
    <head>
        <title>Tabela simples</title>
    </head>
    <body>
        <!-- Título -->
        <h2 align="center">Tabela simples</h2>

        <!-- Construtor da tabela -->
        <table width="100%" border="1">

            <!-- Criando a linha da tabela -->
            <tr>

                <!-- Adicionando conteúdo e linhas -->
                <td>Felipe</td>
                <td>HTML</td>
                <td>10</td>
            </tr>

            <tr>
                <td>Felipe</td>
                <td>JavaScript</td>
                <td>10</td>
            </tr>
        </table>
    </body>
</html>