<!doctype html>
<html>
    <head>
        <title>Tabela com Cabeçalho e Rodapé</title>
    </head>
    <style>
        /* Centralizando textos da tabela */
        td{
            text-align: center;
        }
    </style>
    <body>
        <!-- Título -->
        <h2 align="center">Tabela com Cabeçalho e Rodapé</h2>

        <!-- Construtor da tabela -->
        <table width="100%" border="1">

            <!-- Cabeçalho -->
            <thead>

                <!-- Criando linhas -->
                <tr>

                    <!-- Criando título das colunas (Cabeçalho) -->
                    <th>Mês</th>
                    <th>Hora/Aula</th>
                </tr>
            </thead>

            <!-- Corpo da tabela -->
            <tbody>
                <tr>

                    <!-- Adicionando conteúdo e linhas -->
                    <td>Julho</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td>Agosto</td>
                    <td>30</td>
                </tr>
            </tbody>

            <!-- Rodapé -->
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td>70</td>
                </tr>
            </tfoot>
        </table>
    </body>
</html>