<!doctype html>
<html>
    <head>
        <title>Tabela com Rowpan</title>
    </head>
    <body>
        <!-- Título -->
        <h2 align="center">Tabela com Rowspan</h2>

        <!-- Construtor da tabela -->
        <table width="100%" border="1">

            <!-- Criando a linha da tabela -->
            <tr>

                <!-- Adicionando conteúdo e linhas -->
                <td>Aluno</td>

                <!-- Mesclando 2 linhas usando colspan -->
                <td rowspan="2" style="text-align: center">Disciplina</td>
            </tr>
            <tr>
                <td>Felipe</td>
                <td>HTML</td>
                <td>CSS</td>
            </tr>
        </table>
    </body>
</html>